/* HeroesComponent's private CSS styles */
.brands {
  display: flex;
  align-items: stretch;
  gap: 16px;
}
.brands-list {
  margin: 0 0 2em 0;
  list-style-type: none;
  width: 15em;
}
.brands-list li {
  display: flex;
  & img {
    max-width: 24px;
    max-height: 24px;
    margin-right: 12px;
  }
}

.brands-list li a {
  flex: 1;
  cursor: pointer;
  position: relative;
  color: #161616;
  left: 0;
  background-color: #eee;
  margin: 0.1em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 1.8em;
  text-decoration: none;
  transition: all 0.3s ease;
}

.brands-list li a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  margin-left: 0.5em;
}

.brands-list li a:active {
  background-color: #525252;
  color: #fafafa;
}

.brands-list li a.selected {
  background-color: black;
  color: white;
}

.brands-list button.selected:hover {
  background-color: #505050;
  color: white;
}

.brabrands-listnds a.selected:active {
  background-color: black;
  color: white;
}

.brands-list .badge {
  display: inline-block;
  font-size: small;
  color: white;
  align-self: stretch;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #ca3438;
  line-height: 0.4em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

.brands-list .name {
  align-self: center;
}
