.cars {
  display: flex;
}
.title {
  background-color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.car {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
  border-radius: 4px;
  margin-bottom: 1rem;
  background-color: #eee;
  padding: 1rem;
}
img {
  width: 100%;
}
.car_infor_title h5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.car_infor_price {
  color: #ca3438;
  font-weight: 700;
}
